*.psd filter=lfs diff=lfs merge=lfs -text
C:/Users/rishi/Desktop/Mini filter=lfs diff=lfs merge=lfs -text
Model filter=lfs diff=lfs merge=lfs -text
Model/miniproject/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
